<% include partials/nav.ejs %>
<div class="container">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHrGqkQUOBDFP98nlaVm0AFdiHAFgXZQFxTd-5uj1Y-QSYon1z" class="float-right" id="user-img" alt="user-image">
<div class="jumbotron">
	<h1 class="display-4 mr-auto">Hi! <%= currentUser.username %></h1>
	<p class="lead mr-auto">Here are all your documents.</p>
	<hr class="my-4">
	<p> Keep your documents with us, keep them safe.</p>
</div>

<% if(Documents.length == 0){ %>
	<h3 class="display-4">You need to upload nothing!</h3>
<% }else{ %>
	<h1 class="display-4">Upload</h1>
	<form action="/user/docs/<%= currentUser.username %>" method="POST">
	
		<div class="row">
			 
				<% for (let doc of Documents){%>
						<div class="card col-sm-4 col-md-3">
							<input id="<%= doc %>" value="<%= doc %>" type="checkbox" name="documents[]"/>
							<label for="<%= doc %>">
								<img class="card-img-top" src="https://www.svgrepo.com/show/28320/id-card.svg">
								<hr>
								<div class="card-body">
									<div class="document">
										<h5 class="document-name card-title">
											
												<%= doc %>
											
										</h5>

									</div>
								</div>
							</label>
						</div>
				<% }%>
			
		</div>
	<br>
	<button type="submit" class="btn btn-primary btn-lg">Upload</button>
	</form>
<% } %>
<br>
<hr class="my-5">

<% if(uploadedDocs.length == 0){ console.log(uploadedDocs)%>
	<h3 class="display-4">You have uploaded nothing yet!</h3>
<% }else{ %>
	<h1 class="display-4">Uploaded</h1>
	<div class="row">
		<% for (let updoc of uploadedDocs){%>
			<div class="card col-sm-4 col-md-3">
			<img class="card-img-top" src="https://www.svgrepo.com/show/28320/id-card.svg">
			<hr>
				<div class="card-body">
					<div class="document">
						<h5 class="document-name card-title">
							<%= updoc %>
						</h5>
					</div>
				</div>
			</div>
		<% }%>
	</div>
<%} %>
</div>

<% include partials/footer.ejs %>